@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "bulma";
@import "~@creativebulma/bulma-tooltip";

.centered {
  position: absolute;
  top: 35%;
  left: 45%;
  transform: translate(-50%, -50%);
}
